!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Javascript is Winning

    //- Check out 'src/bower_components/prism/' for available themesbower_components/prism/
    link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-twilight.css')


    link(rel="stylesheet", href="http://use.typekit.net/c/179a08/kepler-std:i3:i4,source-code-pro:n4:n7,source-sans-pro:n3:n4:n7,utopia-std:i4:i7:n4:n7.Xtq:H:2,Xtn:H:2,Y1M:H:2,Y1P:H:2,Xw3:H:2,Xw5:H:2,Xvy:H:2,Xwf:H:2,Xwd:H:2,Xwg:H:2,Xwc:H:2/d?3bb2a6e53c9684ffdc9a9bf61d5b2a62d6138ae381e419350a9e4b6a2ea4b86e1d75842c09524a373019512213f7a2770f7262695c9d1d8ab7f26d8e274179ed815bc1120084625ae4228c97eb4cd02aeca835a391494421f055bdbcbcdf8360cbd6115124068fa53a4336")
    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1 Geospatial Javascript 
        h2 Christopher Helm
        h3 FOSS4G 2013
        h2 @cwhelm on twitter

      section 
        h1 or
        h2 Chris Helm's Love Affair with Javascript and the internet

      section 
        h1 or 
        h2 GIS is not dead, it's coming for you and its been drinking Javascript 

      section 
        h1 My Goal 
        h3 is "GEO FOR ALL" 

      section
        h1 My Argument
        h2 The web is central, JS is essential  
        //- the web is so central to our lives that for GIS to be at all relavent to the masses Javascript, geospatial javascript, must 

      section 
        h2 why is JS missing?

      section 
        h2 JS has faults  
        h3 
          a(href="https://www.destroyallsoftware.com/talks/wat") https://www.destroyallsoftware.com/talks/wat

      section
        h2 [] + [] ?
        h2.bullet 
        h1.bullet Empty String  

      section 
        h2 [] + {} ?
        h2.bullet 
        h1.bullet [object Object]

      section 
        h2 {} + [] ? 
        h2.bullet
        h1.bullet 0

      section 
        h2 {} + {} ? 
        h2.bullet 
        h2.bullet nil

      section 
        h1 the web
        h2 thinking about how it has evolved 

      section 
        h1 Our perception of JS 
        h2.bullet has evolved...

      section 
        h1 Web Evolution
        h2.bullet new tech is born everyday 
        h2.bullet processing tools 
        h2.bullet data formats
      
      section   
        h1 Browsers get Fatter

      section 
        h1 WebGL 

      section 
        h1 Web Workers 

      section 
        h1 Web Sockets 

      section 
        h1 WebRTC 

      section 
        h1 Usage goes up  

      section 
        h1 the web becomes life

      section 
        h2 disseminate ideas 
        h2 share data
        h1 visualize

      section 
        h1 GIS and the web?

      section 
        h1 GIS must evolve

      section 
        h1 Javascript is central
        h2 leaflet, openlayers, and now d3 (svg)

      section
        h2 d3 - data driven docs
        h3 SVG / CSS / HTML

      section
        h2 "D3 is the new flash..." - Paul Ramsey
        br
        img(src="images/pr_tweet.jpeg", width=300)

      section
        h3 "@Turbo3AA9F 'Look at my very beautiful, screen-filling, one-off, data visualization site.' New instrument, same tune." - Paul Ramsey


      section 
        h2 Freedom for web cartography 

      section
        h2 Projections
        h3
          a(href="https://github.com/mbostock/d3/wiki/Geo-Projections") https://github.com/mbostock/d3/wiki/Geo-Projections
        h3
          a(href="http://www.jasondavies.com/maps/transition/") http://www.jasondavies.com/maps/transition/

      section
        h2 Adaptive Composite Projections
        h3
          a( src="http://bl.ocks.org/jczaplew/6603431") http://bl.ocks.org/jczaplew/6603431 

        //- define what we think of in terms of "javascript"
        //- but before we talk JS we have to talk about data and its place on the web

      section
        h1 the rise of the API

      section 
        h2 data has become pervasive/dynamic

      section 
        h2 we blur the line between client / server 
        h3 sockets
        h3 webRTC 
        h3 RestHooks

      section
        h2 how does GIS adapt?

      section
        h2 ...slowly

      section
        h2 Growing up today?
        h3 MapServer? or Leafet? or D3?

      section
        h2 Reality check
        h2.bullet PostGIS is teh HAWT

      section 
        h2 What's missing? 

      section 
        h2 topojson

      section 
        h2 node.js

      section
        h2 Package Management
        h3 npm
        h3 grunt 
        h3 bower
        h3 yeoman
      
      section 
        h1 in the end
        h2 "Where is ArcView.js?" - a few people, 2 years ago

      section 
        h1 JS.Geo San Francisco 2014 
        h2 The Javascript + Geo festival of love conference

      section 
        h1 Demo stuff
        //-img(src="images/apollorockygif1.gif")

      section 
        h2 Cost Distance
        h3 
          a(href="http://walkshed.js.s3.amazonaws.com/index.html") Walkshed (by atogle @ open plans)
          a(href="https://github.com/atogle/costdistance.js") https://github.com/atogle/costdistance.js 

      section 
        h2 shapefile.js
        h3 
          a(href="https://github.com/calvinmetcalf/shapefile-js") https://github.com/calvinmetcalf/shapefile-js

      section 
        h2 JSTS 
        h3 A JS port of JTS/GEOS
        h3
          a(href="https://github.com/bjornharrtell/jsts") https://github.com/bjornharrtell/jsts 

      section 
        h2 Shapely.js 
        h3
          a(href="https://github.com/chelm/shapely.js") https://github.com/chelm/shapely.js
      
      section
        h2
          a(href="https://github.com/esri/koop") Esri/koop
        h3 an open proxy to geo data on github
        img(src="https://f.cloud.github.com/assets/351164/864572/24113276-f624-11e2-831d-50cf8395b200.png", width=300, height=400)

      section 
        h2 
          a( href="https://github.com/chelm/geodata/blob/master/dunkin_donuts.geojson") Dunkin Donuts

      //-section 
      //-  h2 Rtree.js
      //-  h3 
      //-    a(href="https://github.com/imbcmdth/RTree") https://github.com/imbcmdth/RTree

      section 
        h2 Terraformer
        h3 JSON Formats, spatial indexes & stores, simple searches
        h3
          a(href="https://github.com/search?q=%40Esri+terraformer") https://github.com/search?q=%40Esri+terraformer

      //- TODO 
      //- (demo mixes koop?) Do I need a diagram??? YES a simple omnigraffle

      section 
        h2 Happy fun demo
        h3
          a(href="http://chelm.github.io/foss4g2013-geo-javascript/demos/terraformer/") Client side aggregation   

      section 
        h2 Geo-Hugs! 
      


    script(src='bower_components/jquery/jquery.min.js')
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
