* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}
@page {
  width: landscape;
  height: landscape;
  margin: 0;
}
article {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  display: none;
}
article.bespoke-parent {
  background: radial-gradient(#000 15%, transparent 16%) 0 0, radial-gradient(#000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
}
@media print {
  article.bespoke-parent {
    overflow: visible;
    position: static;
  }
}
.bespoke-slide {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: 50% 50% -50%;
  -moz-transform-origin: 50% 50% -50%;
  -o-transform-origin: 50% 50% -50%;
  -ms-transform-origin: 50% 50% -50%;
  transform-origin: 50% 50% -50%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 50%;
  margin-top: -125px;
  left: 50%;
  margin-left: -50%;
  background: #eaeaea;
  padding: 40px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
@media print {
  .bespoke-slide {
    height: 743px;
    width: 100%;
    page-break-before: always;
    position: static;
    margin: 0;
  }
}
.bespoke-before {
  -webkit-transform: translateX(0) rotateY(-90deg);
  -moz-transform: translateX(0) rotateY(-90deg);
  -o-transform: translateX(0) rotateY(-90deg);
  -ms-transform: translateX(0) rotateY(-90deg);
  transform: translateX(0) rotateY(-90deg);
}
.bespoke-after {
  -webkit-transform: translateX(0) rotateY(90deg);
  -moz-transform: translateX(0) rotateY(90deg);
  -o-transform: translateX(0) rotateY(90deg);
  -ms-transform: translateX(0) rotateY(90deg);
  transform: translateX(0) rotateY(90deg);
}
@media print {
  .bespoke-after {
    -webkit-transform: translateX(0) rotateY(0);
    -moz-transform: translateX(0) rotateY(0);
    -o-transform: translateX(0) rotateY(0);
    -ms-transform: translateX(0) rotateY(0);
    transform: translateX(0) rotateY(0);
  }
}
.bespoke-inactive {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  pointer-events: none;
}
@media print {
  .bespoke-inactive {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.bespoke-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.bespoke-bullet {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bespoke-bullet-inactive {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
li.bespoke-bullet-inactive {
  -webkit-transform: translateX(16px);
  -moz-transform: translateX(16px);
  -o-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
@media print {
  .bespoke-bullet-inactive {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.bespoke-bullet-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.emphatic,
.emphatic .bespoke-slide {
  background: #eaeaea;
}
code {
  padding: 26px !important;
}
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  color: #404040;
}
h1 {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -2px;
  margin-bottom: 16px;
}
h2 {
  font-size: 42px;
  letter-spacing: -1px;
  margin-bottom: 8px;
}
h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 24px;
  color: #606060;
}
hr {
  visibility: hidden;
  height: 20px;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 12px;
}
p {
  margin: 0 100px 12px;
  line-height: 22px;
}
a {
  color: #0093cc;
  text-decoration: none;
}
